section.slide-show{
  background: $color-main;
  div.hero-image {
    height:calc(100vh - 206px); //100vh
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url('../img/background.png');
    background-position: center;
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%);
    // clip-path: polygon(45% 90%, 0% 100%, 100% 100%);
    background-size: cover;
    position: relative;
    @include shadow;
      .content{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
    }
        h1 {
          color:white;
          font-size: 50px;
          line-height: 50px;
        }
        p {
          color:white;
          font-size: 14px;
          padding-bottom:40px;
          line-height: 1.5;
          width: 500px;
          margin: auto;
          margin-top:26px;
        }
        .btn-about{
          border: 1px solid white;
          font-size: 14px;
          line-height: 45px;
          width: 145px;
          margin: auto;
          color: white;
          text-align: center;
          background: none;
          padding: 15px 30px;
        }
        .btn-about:hover{
          border: 1px solid $color-main;
          color: $color-main;
        }
    }
  }
section.features {
  padding-top: 80px;
  background:  $color-main;
  @include shadow;
  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .block {
    padding-bottom: 80px;
    // border: 1px dashed black;
    width: 26%;

    @include mobile {
    width: 90%;
    margin: auto;
  }
    .fa-wrench {
      font-size: 50px;
      color:white;
      // line-height: 50px;
      margin-bottom: 25px;
    }
  h3 {
    font-size:24px;
    color: $text-color;
    margin-bottom: 27px;
  }
  p {
  @include text-regular ;
  }
}
}
section.projects {
  padding-top: 85px;
  padding-bottom: 85px;
  // background: white;
  // @include shadow;
  h2{
    font-size: 35px;
    text-align: left;
    color:$color-main;
  }
  div.line {
    display: block;
    width: 68px;
    border: 1px solid $color-main;
    margin-top: 10px;
  }
  .projects-block {
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 100%;
    margin-top:20px;
    .project {
      margin-top: 10px;
      width: 30%;
      img{
        height: 195px;
        width: 100%;
        background-size: cover;
        @include shadow;
      }
    }
  }
  .arrows {
    margin-top: 10px;
    float:right;
    i{
      background: $color-main;
      color: white;
      padding: 2px 5px;
    }
  }
}
section.reviews {
  @include padding-main;
  background: $color-main;
  @include shadow;
  .container{
  display: flex;
  justify-content: space-between;
  .review {
    width: 25%;
    color: white;
    font-size: 26px;
    h3{
      font-size: 50px;
    }
    hr {
      width:30px;
      height: 2px;
      background: white;
      border: none;
    }
  }
  }
}
section.blog-post{
  padding-bottom: 85px;
  padding-top: 85px;
  h2{
    font-size: 35px;
    text-align: left;
    color:$color-main;
  }
  div.line {
    display: block;
    width: 68px;
    border: 1px solid $color-main;
    margin-top: 10px;
  }
  .blog-block {
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 100%;
    margin-top:20px;
    .blog {
      @include shadow;
      width: 48%;
      // background: $color-main;
      .blog-post{
        width:100%;
        height: 240px;
        .blog-img{
          height: 240px;
          width: 40%;
          background: $color-main;
          float:left;
          img{
            height: 240px;
            background-size: cover;
          }
        }
        .blog-text{
          height: 240px;
          width:60%;
          background:  #e0ebeb;
          float:right;
        p{
          font-size: 14px;
          line-height: 1.3;
          text-align: justify;
          margin-top: 35px;
          margin-left: 20px;
          margin-right: 20px;
          span{
            font-style: italic;
            line-height: 4;

          }

        }
        a {
          float: right;
          font-size: 14px;
          color:$color-main;
          margin-top:55px;
          margin-right: 20px;
        }
        a:hover {
          color: $text-color;
        }
        }
      }
    }
  }
}
