header {
  .top-menu {
    color: $text-color;
    height: 50px;
    width: 100%;
    line-height: 50px;
    box-shadow: 0 1px 5px grey;
    font-size: 14px;
    @include  tablet-h{
      background: $color-main;
    }
    @include tablet-p{
      background: green;
    }
    @include mobile {
      background: black;
    }
      div.social {
        float: left;
        color:$text-color;
        li{
          display: inline-block;
          a{
            margin-left: 10px;
          }
          a:hover{
            color: $color-main;
          }
        }
      }
      div.contacts {
        float: right;
        .fContacts{
          padding: 2px 5px;
          color: $text-color;
          font-size:10px;
        }
        a{
          margin-left: 10px;
        }
        a:hover{
          color: $color-main;
        }
      }
  }
  .bottom-menu{
    color: $text-color;
    width: 100%;
    height: 156px;
    nav{
      float:right;
      // margin-top: 27px;
      .fa-bars{
        font-size: 64px;
        display: none;
        @include mobile{
        display: block;
        font-size: 40px;
        text-align: right;
        float: right;
        line-height: 3.6;
        };
      }
      .fa-bars:hover{
        color: $color-main;
      }
      ul {
        @include mobile{
          display: none;
        }
        li {
          font-size: 14px;
          margin-left: 10px;
          display: inline-block;
          li a {
            display: block;
            color: $text-color;
            text-decoration: none;
          }
          a:hover{
            color: $color-main;
          }
        }
      }
    }
    .logo {
      float: left;
      height: 150px;
      width: auto;
      background-size: cover;
    }
  }
}
